{% extends 'base.html' %}
{% block title %}マイページ{% endblock %}
{% block contents %}
{% if user.is_authenticated %}
<br>
<div style="text-align: center;">
    <a href="{% url 'blogapp:edit_profile' %}">プロフィール編集</a>
    <h4>{{user.username}}さんのマイページ</h4>
    {% if object_list.count == 0 %}
    <p>{{user.username}}さんのグループはありません</p>
    {% else %}
    <p>グループ<strong>{{object_list.count}}件</strong></p>
    {% endif %}
    <a href="{% url 'blogapp:create_group' %}">グループを作成</a>
    <a href="{% url 'blogapp:mypage' %}">作成した記事</a>
</div>
<hr>
{% endif %}
{% for record in object_list %}
<div class="post-list-wrap">
    <div class="post-item">
        <p class="text">{{record.title}}</p>
        <p class="title">招待リンク：グループID{{record.share}}</p>
        <p class="text">{{record.text}}</p>
        <small>{{record.posted_at}}<samall>
                {% if request.user == record.user %}
                <a href="{%url 'blogapp:group_delete' record.pk%}" class="btn btn-primary my-2 group-delete-btn">削除</a>
                {% endif %}
    </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo; 最初</a>
        <a
            href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">前へ</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <span class="current">{{ num }}</span>
        {% else %}
        <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a
            href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">次へ</a>
        <a
            href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">最後
            &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}